@import './cores.css';

.navbar,
.navbar-collapse,
.navbar-toggler {
  flex-direction: column;
  align-items: baseline;
  height: 100vh;
}

.navbar {
  width: 25%;
  max-width: 300px;
  min-width: 180px;
  background-color: #1A1A1A !important;
  padding-top: 1.2%;
}

.navbar-brand {
  margin: 0
}

.navbar-nav {
  padding-left: 10%;
}

.nav-item>a>span {
  color: #fff;
  padding-left: 15px;
}

.nav-item>a>img {
  height: 25px;
}

.titulo-nav {
  font-family: var(--font-poppins);
  font-size: 16px;
}

.active {
  color: #FFB800 !important;
}

.navbar-collapse {
  display: flex;
}

.navbar-not-collapse {
  display: none;
}

@media (max-width: 991px) {
  .navbar {
    width: 60px;
    min-width: 60px;
    max-width: none;
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-not-collapse {
    display: flex;
  }

  .navbar-toggler {
    display: block !important;
  }
}

@media (max-width: 1199px) {
  .titulo-nav {
    font-family: var(--font-poppins);
    font-size: 12px;
  }

  .nav-item>a>img {
    height: 20px;
  }
}