@import './cores.css';

.table-responsive {
  border: 1px solid #ccc;
  border-radius: 8px !important;
}

.table-hover tbody tr:hover td {
  background-color: #ffc93d33;
  box-shadow: none;
}

tbody>th {
  height: 180px;
}

.status {
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 500;
}

.status-aberto {
  background-color: #FFF2EF;
  color: #B52D21;
  border: 2px solid #FED2CF;
}

.acessar{
  border: 2px solid #EDEEF2;
  background-color: #F9FAFC;
  padding: 5px 10px;
  border-radius: 8px;
}